

#container{
    
   background-color: rgb(209, 203, 203);


   
    
}

.name{
    background-color: rgb(93, 91, 91);
    color: aliceblue;
    text-align: center;
    line-height: 100px;
    color: burlywood;

}
.obj{
    color: rgb(142, 59, 7);
    word-spacing: 10px;
    font-weight: 750;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ex{
    background-color: rgb(50, 162, 199);
    color: rgb(27, 4, 95);
   
    
}
.one{
font-weight: bold;
}

.ul >li{
    font-weight: 600;
}

.two{
      font-weight: 750;
      text-transform: capitalize;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}